html {
    background-color: white !important;
    color: black !important;
}

a {
    color: blue !important;
}

a:visited {
    color: purple !important;
}

a:hover {
    color: red !important;
}

div {
    background-color: white !important;
}

.plain {
    font-family: "Times New Roman" !important;
}

.fancy {
    font-family: "Comic Sans MS" !important;
}

.main {
    margin: auto !important;
    width: 90% !important;
}

.ambience {
    background-color: #2E9AFE !important;
}

.green-arrow {
    color: #006600 !important;
}

.banner {
    background-color: #e0e0ff !important;
    border: 1px solid black !important;
    color: blue !important;
}