html {
    background-color: white;
    color: black;
}

a {
    color: blue;
}

a:visited {
    color: purple;
}

a:hover {
    color: red;
}

div {
    background-color: white;
}

.plain {
    font-family: "Times New Roman";
}

.fancy {
    font-family: "Comic Sans MS";
}

.main {
    margin: auto;
    width: 90%;
}

.ambience {
    background-color: #2E9AFE;
}

.green-arrow {
    color: #006600;
}